<div class="wrapper">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <label for="repoUrl">GitHub Repository URL</label>
        <input type="text" [(ngModel)]="githubURL" id="repoUrl" placeholder="Enter repository URL">
      </div>
      <div class="col-lg-4">
        <label for="accessToken">GitHub Access Token</label>
        <input type="text" [(ngModel)]="githubAccessToken" id="accessToken" placeholder="Enter access token">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4">
        <div class="button-group">
          <button
           [ngClass]="{'btn-secondary': githubAccessToken === '' || githubURL === ''}"
           [disabled]="githubAccessToken === '' || githubURL === ''"
           (click)="search()"
           class="btn btn-primary"
           >Search Issues</button>
          <button (click)="onClear()" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </div>

    <div *ngIf="issues?.length === 0" class="row mt-3">
      <span class="display-6">No Issues For Searched GitHub URL</span>
    </div>

    <div *ngIf="issues?.length" class="col-lg-12 mt-3">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Creator</th>
            <th>Creatin Date</th>
            <th>State</th>
            <th>Asignee</th>
            <th>Last Updated Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td>
              <a [href]="'/issue-details/' + issue.number">{{ issue.title }}</a>
            </td>
            <td>
              <a [href]="issue.user.html_url" target="_blank">{{ issue.user.login }}</a>
            </td>
            <td>
              <span>{{ issue.created_at | date:'dd.MM.yyyy HH:mm' }}</span>
            </td>
            <td>
              <span>{{ issue.state }}</span>
            </td>
            <td>
              <span>{{ issue.assignee?.login }}</span>
            </td>
            <td>
              <span>{{ issue.updated_at | date:'dd.MM.yyyy HH:mm' }}</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <button 
          class="btn btn-primary" 
          (click)="changePage(currentPage - 1)"  
          [disabled]="currentPage === 1"
          > < </button>
          
        <span>Page {{ currentPage }}</span>

        <button 
          class="btn btn-primary" 
          (click)="changePage(currentPage + 1)" 
          [disabled]="!issues || issues.length < itemsPerPage"
          > > </button>
      </div>
    </div>
    <div class="row mt-3">

    </div>
  </div>
</div>
  