<div class="wrapper">
    <h2>How to use Application</h2>

    <p>On home page, you will see small search form where you should enter Github Repository Url and GitHub Access Token.</p>
    <p>After you perform search, list of GitHub issues for selected repository will appear.</p>
    <p>Clicking on Issue Title, you will be redirected to issues details page, where you will see, basic information about selected issue, issues comments and reactions.</p>

    <p>You data is NOT being saved anywhere!</p>

    <p>Github Url Example: https://github.com/djole-st/github-client-app</p>
    <p>Token for accessing my repositories is being provided in my application on your <a target="_blank" href="https://internship.jetbrains.com">website</a>.</p>
    <p>For Accessing your own repositories, you will need to crete your own token and use it here in application.</p>
    <p>Here is a <a target="_blank" href="https://docs.catalyst.zoho.com/en/tutorials/githubbot/java/generate-personal-access-token/">link</a> on how to do it.</p>
</div>